
		body{
			background-color: #f0f0f2;
			font-family:-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
		.dom{
			padding: 2em;
			margin: 80px 340px 490px 340px;
			width: 600px;
			height: 180px;
			background-color: #fdfdff;
			border-width: 100px;
			border-radius: 0.5em;
			box-shadow:  2px 3px 7px 2px rgba(0,0,0,0.02);
		}